<!DOCTYPE html>
<html>
    <head>
        <tit>Yelp Camp</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    </head>
    <body>
