<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">       
            <h1>Welcome to Yelp Camp!</h1>
            <p>View our Yeri pictures from all over the web!!</p>
            <p>
                <a class="btn btn-primary btn-lrg" href="/campgrounds/new">Add New Camp Ground!</a>
            </p>
        </div>
    </header>    
    <% campgrounds.forEach(function(campground){ %>
        <h4> <%= campground.name %> </h4>
        <img src="<%=campground.image%> ">
    <% }); %>
</div>
<% include partials/footer %>