<!DOCTYPE html>
<html>
    <head>
        <title>Yeri Camp!</title>
        <link rel="stylesheet" href="/css/landing.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
    <div class="container">
        <% if(error && error.length > 0) { %>
        <div class="alert alert-danger"><%=error%></div>
        <% } else if (success && success.length > 0){ %>
        <div class="alert alert-success"><%=success%></div>
        <% } %>
    </div>  
    <div class="container" id=landing-header>
        <h1>Welcome to Yelp Camp!</h1>
        <a class="btn btn-lg btn-success" href="/campgrounds">View All Campgrounds</a>      
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
<% include ./partials/footer %>